<!--<div class="container" style="margin-top: 20px">
    <div *ngIf="patient" class="card">
      <div class="card-header">
        <b>Patient:</b> {{patient.firstname}} {{patient.lastname}}
      </div>
      <div class="card-block">
        <p><b>Address:</b>
        {{patient.address}}, &nbsp;<b>Email:
        </b>{{patient.email}}, &nbsp;<b>Medical card number:</b>
        {{patient.medicalCardNumber}}</p>
      </div>
    </div>
  </div>
<br/>-->
<app-patient-details></app-patient-details>

<br/>

<div class="card-block justify-content-around d-flex align-items-center">
    
            <form [formGroup]="addForm" (ngSubmit)="submit()" novalidate style="width:100%">
              <div class="form-group row" class="justify-content-around d-flex align-items-center">
    
              </div>    
              
              <div class="form-group row" style="margin-left:15%; width:70%">
                <label class="col-2 col-form-label">Symptom:</label>
                <div class="col-4">
                  <input formControlName="sym" class="form-control">
                </div>
                <div class="col-6">
                  <button (click)="checkSymptom()" class="btn btn-info btn-md ml-auto">
                    Check Symptom >>
                  </button>
                </div>
              </div>
    
              <div class="form-group row" style="margin-left:15%; width:70%">
                <label class="col-2 col-form-label">Symptoms:</label>
                <div class="col-10">
                  <input formControlName="symptoms" class="form-control">
                </div>
              </div>
    
    
              <button id="submit-btn-tm-form" type="submit" class="btn btn-info btn-md ml-auto" [disabled]="!addForm.valid">
                Diagnose
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </form>
          </div>