<div class="container" style="margin-top: 20px">
    <div *ngIf="patient" class="card">
      <div class="card-header">
        <b>Patient:</b> {{patient.firstname}} {{patient.lastname}}
      </div>
      <div class="card-block">
        <p><b>Address:</b>
        {{patient.address}}, &nbsp;<b>Email:
        </b>{{patient.email}}, &nbsp;<b>Medical card number:</b>
        {{patient.medicalCardNumber}}</p> &nbsp; 
        <button class="btn btn-info btn-md ml-auto" (click)="alergies()">Alergies</button>
        <button class="btn btn-info btn-md ml-auto" (click)="medicalRecord()">Medical record</button>
        
          <div *ngIf="toggleMR===true">
            <table style="background: rgba(207, 219, 237, 0.95);" class="table">
              <thead class="thead-light">
                <tr>
                    <th>Disease</th>
                    <th>Symtoms</th>
                    <th>Medicines</th>
                    <th>Date</th>
                    <th>Doctor</th>
                </tr>
            
            
              </thead>
            
              <tbody>
                <tr *ngFor="let mr of mrecords">
            
                    <td>{{mr.diseasename}}</td>
                    <td>{{mr.syms}}</td>
                    <td>{{mr.meds}}</td>
                    <td>{{mr.date}}</td>
                    <td>{{mr.doctor}}</td>
                  
                  
                </tr>
              </tbody>
            </table>
          </div>
        <div *ngIf="showAlergies===true">
          <br/>
          &nbsp;&nbsp;<button id="link-tab-filter" class="btn btn-info btn-md ml-auto" (click)="addAlergie()">Add new &nbsp;
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            
            <div *ngIf="toggleAlergie===true">
              <br/>
                <form [formGroup]="addForm" (ngSubmit)="submitAlergie()" novalidate style="width:100%">
                    
                      <div class="form-group row" style="margin-left:15%; width:70%">
                          <label class="col-4 col-form-label">Medicine/Medicine ingredient:</label>
                          <div class="col-8">
                            <input formControlName="name" class="form-control">
                          </div>
                      </div>
                  <button id="submit-btn-tm-form" type="submit" class="btn btn-info btn-md ml-auto" [disabled]="!addForm.valid">
                    Add
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </form>
            </div>
            <br/>

            <table style="margin-left: 5%; width:100%">
              <tr><th><label>Medicines:</label></th>
              <th><label>Medicine ingredients:</label>              
              </th>
              </tr>
                     <tr><td>
            <table style="background: rgba(207, 219, 237, 0.95); margin-left: 5%; width:90%" class="table">
                <thead class="thead-light">
                  <tr>
                      <th>name</th>
                      <th>Type of medicine</th>
                  </tr>
              
              
                </thead>
              
                <tbody>
                  <tr *ngFor="let alergi of medicineAlergies">
              
                      <td>{{alergi.name}}</td>
                      <td>{{alergi.typeOfMedicine}}</td>
                    
                    
                  </tr>
                </tbody>
              </table>
              </td><td>
              <table style="background: rgba(207, 219, 237, 0.95); margin-left: 20%; margin-right: 20%; width:60%;" class="table">
                  <thead class="thead-light">
                    <tr>
                        <th>name</th>
                    </tr>
                
                
                  </thead>
                
                  <tbody>
                    <tr *ngFor="let alergia of ingredientsAlergies">
                
                        <td>{{alergia.name}}</td>
                      
                      
                    </tr>
                  </tbody>
                </table>
                </td>
              </tr>
              </table>
        </div>
      </div>

    </div>
  </div>
<br/>