<div class="card text-center col-md-12">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="doctors">Doctors</a>
      </li>
      <li class="nav-item">
        <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="patients">Patients</a>
      </li>
      <li class="nav-item">
        <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="diseases">Diseases</a>
      </li>
      <li class="nav-item">
        <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="medicines">Medicines</a>
      </li>
      <li class="nav-item">
          <a id="link-tab-all" class="nav-link" routerLinkActive="active current" routerLink="ingredients">Medicine ingredients</a>
        </li>
    </ul>
  </div>
  <div class="card-block">
    <router-outlet></router-outlet>
  </div>
</div>
